{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Adicionar Nova Categoria
{% endblock title_block %}

{% block body_block %}
    <h1>Adicione uma categoria</h1>
    <div>
        <form id="category_form" method="post" action="{% url 'add_category' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Criar Categoria" />
        </form>
    </div>
{% endblock body_block %}