{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login no Rango</h1>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Usuário: <input type="text" name="username" value="" size="50" />
        <br />
        Senha: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="Login" />
    </form>
{% endblock %}